extends layout

block content
  h1= title

  if errors
    ul(style='margin-top: 10px;')
      for error in errors
        li(style='color: red;')
            b !{error.msg}

  form(method='POST' action='')
    div.form-group
      label(for='title') Title:
      input#title.form-control(type='text', placeholder='Message title' name='title' required='true' value=(undefined===message ? '' : message.title))
    div.form-group
      label(for='message_text') Message:
      textarea#message_text.form-control(type='textarea', placeholder='Message text' name='message_text' required='true') #{undefined===message ? '' : message.message_text}
    button.btn.btn-primary(type='submit') Submit

