extends layout

block content
  h1= title

  p(style='color: red;') 
    b #{undefined===notice ? '' : notice}
  
  if errors
    ul(style='margin-top: 10px;')
      for error in errors
        li(style='color: red;')
            b !{error.msg}

  form(method='POST' action='')
    div.form-group
      label(for='name') Name:
      input#name.form-control(type='text', placeholder='Name' name='name' required='true' value=(undefined===user ? '' : user.name))
    div.form-group
      label(for='username') Username:
      input#username.form-control(type='text', placeholder='Username' name='username' required='true' value=(undefined===user ? '' : user.username))
    div.form-group
      label(for='password') Password:
      input#password.form-control(type='password', name='password' required='true')
    div.form-group
      label(for='confirm_password') Confirm Password:
      input#confirm_password.form-control(type='password', name='confirm_password' required='true')
    div.form-group
      div(style='display: inline;')
        input.checkbox-input(type='checkbox', name='is_admin', id='is_admin', checked=(undefined===user ? false : user.is_admin))
        label(for='is_admin', style='padding-left: 8px;') is Admin
    button.btn.btn-primary(type='submit') Sign Up

